In [47]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [45]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.8.2-py2.py3-none-any.whl (15.2 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.8.2 tenacity-8.0.1

In [2]:

df = pd.read_csv('googleplaystore.csv')

In [3]:

df.drop(['Last Updated', 'Current Ver', 'Android Ver'], axis = 1, inplace = True)

In [4]:
df.dropna(inplace = True)

# In Range Functions

In [6]:
def inrange(low,uppr):

    c = 0

    for rating in df['Rating'].values:
        if(rating >= low and rating <= uppr):  # 4.0 - 4.5
            c += 1
    print("Number of applications with rating between", low, "-",uppr,"is",c,".")

In [7]:
inrange(low = 4.0, uppr = 4.2)

Number of applications with rating between 4.0 - 4.2 is 2228 .

# Ratings Analysis

In [8]:
subm = 0

for i in df['Rating'].values:
    subm += i
    
print(subm/len(df['Rating'].values))

4.191757420456978

# Reviews Analysis

In [9]:
subm = 0

for i in df['Reviews'].values:
    subm += int(i)
    
print(subm/len(df['Reviews'].values))

514049.8365364083

In [10]:
m = 0
k = 0


for size in df['Size'].values:
    
    if (size != 'Varies with device'):

        if (size[-1:] == 'M'):
            m += float(size[:-1])
            
        if (size[-1:] == 'k'):
            k += float(size[:-1])

In [11]:
m + k/1000

177439.3434999995

In [12]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '23M', '6.0M', '6.1M', '4.6M', '9.2M', '5.2M',
       '11M', '24M', 'Varies with device', '9.4M', '15M', '10M', '1.2M',
       '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M',
       '5.7M', '8.6M', '2.4M', '27M', '2.5M', '7.0M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '22M', '6.4M', '3.2M', '8.2M', '4.9M', '9.5M', '5.0M',
       '5.9M', '13M', '73M', '6.8M', '3.5M', '4.0M', '2.3M', '2.1M',
       '42M', '9.1M', '55M', '23k', '7.3M', '6.5M', '1.5M', '7.5M', '51M',
       '41M', '48M', '8.5M', '46M', '8.3M', '4.3M', '4.7M', '3.3M', '40M',
       '7.8M', '8.8M', '6.6M', '5.1M', '61M', '66M', '79k', '8.4M',
       '3.7M', '118k', '44M', '695k', '1.6M', '6.2M', '53M', '1.4M',
       '3.0M', '7.2M', '5.8M', '3.8M', '9.6M', '45M', '63M', '49M', '77M',
       '4.4M', '70M', '9.3M', '8.1M', '36M', '6.9M', '7.4M', '84M', '97M',
       '2.0M', '1.9M', '1.8M', '5.3M', '47M', '556k', '526k', '76M',
       '7.6M', '59M', '9.7M', '78M', '72M', '43M', '7.7M', '6.3M', '334k',
       '93M', '65M', '79M', '100M', '58M', '50M', '68M', '64M', '34M',
       '67M', '60M', '94M', '9.9M', '232k', '99M', '624k', '95M', '8.5k',
       '41k', '292k', '11k', '80M', '1.7M', '10.0M', '74M', '62M', '69M',
       '75M', '98M', '85M', '82M', '96M', '87M', '71M', '86M', '91M',
       '81M', '92M', '83M', '88M', '704k', '862k', '899k', '378k', '4.8M',
       '266k', '375k', '1.3M', '975k', '980k', '4.1M', '89M', '696k',
       '544k', '525k', '920k', '779k', '853k', '720k', '713k', '772k',
       '318k', '58k', '241k', '196k', '857k', '51k', '953k', '865k',
       '251k', '930k', '540k', '313k', '746k', '203k', '26k', '314k',
       '239k', '371k', '220k', '730k', '756k', '91k', '293k', '17k',
       '74k', '14k', '317k', '78k', '924k', '818k', '81k', '939k', '169k',
       '45k', '965k', '90M', '545k', '61k', '283k', '655k', '714k', '93k',
       '872k', '121k', '322k', '976k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '306k', '175k', '350k', '383k', '454k',
       '1.0M', '70k', '812k', '442k', '842k', '417k', '412k', '459k',
       '478k', '335k', '782k', '721k', '430k', '429k', '192k', '460k',
       '728k', '496k', '816k', '414k', '506k', '887k', '613k', '778k',
       '683k', '592k', '186k', '840k', '647k', '373k', '437k', '598k',
       '716k', '585k', '982k', '219k', '55k', '323k', '691k', '511k',
       '951k', '963k', '25k', '554k', '351k', '27k', '82k', '208k',
       '551k', '29k', '103k', '116k', '153k', '209k', '499k', '173k',
       '597k', '809k', '122k', '411k', '400k', '801k', '787k', '50k',
       '643k', '986k', '516k', '837k', '780k', '20k', '498k', '600k',
       '656k', '221k', '228k', '176k', '34k', '259k', '164k', '458k',
       '629k', '28k', '288k', '775k', '785k', '636k', '916k', '994k',
       '309k', '485k', '914k', '903k', '608k', '500k', '54k', '562k',
       '847k', '948k', '811k', '270k', '48k', '523k', '784k', '280k',
       '24k', '892k', '154k', '18k', '33k', '860k', '364k', '387k',
       '626k', '161k', '879k', '39k', '170k', '141k', '160k', '144k',
       '143k', '190k', '376k', '193k', '473k', '246k', '73k', '253k',
       '957k', '420k', '72k', '404k', '470k', '226k', '240k', '89k',
       '234k', '257k', '861k', '467k', '676k', '552k', '582k', '619k'],
      dtype=object)

# Category

In [13]:
unique_categories = df['Category'].unique()

In [14]:
len(unique_categories)

33

In [15]:
def categories(name):
    
    c = 0

    for i in df['Category'].values:
        if( i == name):
            c += 1

    print(c)

In [16]:
categories(name = 'EDUCATION')

155

In [24]:
dct = {}

for i in df['Category'].unique():
    
    var = categories(i)
    dct[i] = var

62
73
42
178
303
58
328
195
155
149
45
323
109
297
76
65
314
1097
1747
350
259
238
317
319
226
734
314
351
50
75
160
233
124

In [27]:
dct['FAMILY']

In [49]:
def category(name):
    
    c = 0
    
    for i in df['Content Rating'].values:
        
        if (i == name):
            c += 1
            
    return c

In [50]:
dct = {}

for i in df['Content Rating'].unique():
    dct[i] = category(i)

# Price

In [17]:
price = []

for i in df['Price'].values:
    if ('0' == i):
        price.append(0)
    else:
        price.append(int(float(i[1:]) * 73.5))

In [18]:
type(price)

list

In [19]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

In [28]:
def price(name):
    
    c = 0

    for i in df['Price'].values:
        if( i == name):
            c += 1

    return c

In [29]:
dct = {}

for i in df['Price'].unique():
    var = price(i)
    dct[i] = var

In [30]:
dct['0']

8719

# Content Rating

In [20]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [21]:
def content_rating(name):
    
    c = 0

    for i in df['Content Rating'].values:
        if( i == name):
            c += 1

    print(c)

In [22]:

content_rating('Everyone')

7420

In [23]:
content_rating('Teen')

1084

In [31]:
dct = {}

for i in df['Content Rating'].unique():
    var = content_rating(i)
    
    dct[i] = var

7420
1084
397
461
3
1

# Genres

In [32]:
def genres(name):
    
    c = 0

    for i in df['Genres'].values:
        if( i == name):
            c += 1

    return c

In [33]:
dct = {}

for i in df['Genres'].unique():
    var = genres(i)
    dct[i] = var

In [34]:
dct['Communication']

328

In [35]:
dct

{'Art & Design': 56,
 'Art & Design;Pretend Play': 2,
 'Art & Design;Creativity': 7,
 'Auto & Vehicles': 73,
 'Beauty': 42,
 'Books & Reference': 178,
 'Business': 303,
 'Comics': 57,
 'Comics;Creativity': 1,
 'Communication': 328,
 'Dating': 195,
 'Education;Education': 50,
 'Education': 468,
 'Education;Creativity': 7,
 'Education;Music & Video': 5,
 'Education;Action & Adventure': 6,
 'Education;Pretend Play': 23,
 'Education;Brain Games': 4,
 'Entertainment': 533,
 'Entertainment;Music & Video': 27,
 'Entertainment;Brain Games': 8,
 'Entertainment;Creativity': 3,
 'Events': 45,
 'Finance': 323,
 'Food & Drink': 109,
 'Health & Fitness': 297,
 'House & Home': 76,
 'Libraries & Demo': 65,
 'Lifestyle': 313,
 'Lifestyle;Pretend Play': 1,
 'Adventure;Action & Adventure': 13,
 'Arcade': 207,
 'Casual': 185,
 'Card': 45,
 'Casual;Pretend Play': 31,
 'Action': 358,
 'Strategy': 103,
 'Puzzle': 121,
 'Sports': 333,
 'Music': 21,
 'Word': 28,
 'Racing': 93,
 'Casual;Creativity': 7,
 'Casual;Action & Adventure': 21,
 'Simulation': 194,
 'Adventure': 73,
 'Board': 41,
 'Trivia': 28,
 'Role Playing': 106,
 'Simulation;Education': 3,
 'Action;Action & Adventure': 17,
 'Casual;Brain Games': 13,
 'Simulation;Action & Adventure': 11,
 'Educational;Creativity': 5,
 'Puzzle;Brain Games': 19,
 'Educational;Education': 38,
 'Card;Brain Games': 1,
 'Educational;Brain Games': 6,
 'Educational;Pretend Play': 18,
 'Entertainment;Education': 1,
 'Casual;Education': 3,
 'Music;Music & Video': 3,
 'Racing;Action & Adventure': 20,
 'Arcade;Pretend Play': 1,
 'Role Playing;Action & Adventure': 7,
 'Simulation;Pretend Play': 4,
 'Puzzle;Creativity': 2,
 'Sports;Action & Adventure': 4,
 'Educational;Action & Adventure': 4,
 'Arcade;Action & Adventure': 15,
 'Entertainment;Action & Adventure': 3,
 'Puzzle;Action & Adventure': 5,
 'Strategy;Action & Adventure': 2,
 'Music & Audio;Music & Video': 1,
 'Health & Fitness;Education': 1,
 'Adventure;Education': 2,
 'Board;Brain Games': 15,
 'Board;Action & Adventure': 3,
 'Board;Pretend Play': 1,
 'Casual;Music & Video': 2,
 'Role Playing;Pretend Play': 5,
 'Entertainment;Pretend Play': 2,
 'Video Players & Editors;Creativity': 2,
 'Card;Action & Adventure': 2,
 'Medical': 350,
 'Social': 259,
 'Shopping': 238,
 'Photography': 317,
 'Travel & Local': 225,
 'Travel & Local;Action & Adventure': 1,
 'Tools': 733,
 'Tools;Education': 1,
 'Personalization': 314,
 'Productivity': 351,
 'Parenting': 40,
 'Parenting;Music & Video': 6,
 'Parenting;Brain Games': 1,
 'Parenting;Education': 3,
 'Weather': 75,
 'Video Players & Editors': 158,
 'Video Players & Editors;Music & Video': 3,
 'News & Magazines': 233,
 'Maps & Navigation': 124,
 'Health & Fitness;Action & Adventure': 1,
 'Educational': 32,
 'Casino': 37,
 'Adventure;Brain Games': 1,
 'Lifestyle;Education': 1,
 'Books & Reference;Education': 2,
 'Puzzle;Education': 1,
 'Role Playing;Brain Games': 1,
 'Strategy;Education': 1,
 'Racing;Pretend Play': 1,
 'Communication;Creativity': 1,
 'Strategy;Creativity': 1}

# Advance Analysis

In [36]:
data = df.values

In [38]:
c = 0

for i in data:
    if (i[1] == 'LIFESTYLE' and i[6] == 'Paid' and (i[8] == 'Mature 17+' or i[8] == 'Teen')):
        c += 1
        print(i[0], ": ",i[7])
        print(i)
    
print(c)

H*nest Meditation :  $1.99
['H*nest Meditation' 'LIFESTYLE' 4.9 '145' '48M' '5,000+' 'Paid' '$1.99'
 'Mature 17+' 'Lifestyle']
Lunar Calendar :  $4.99
['Lunar Calendar' 'LIFESTYLE' 4.5 '484' 'Varies with device' '1,000+'
 'Paid' '$4.99' 'Mature 17+' 'Lifestyle']
CA Speakers :  $0.99
['CA Speakers' 'LIFESTYLE' 5.0 '12' '1.2M' '100+' 'Paid' '$0.99' 'Teen'
 'Lifestyle']
3

In [39]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [40]:
data[ : 10, : ].shape

(10, 10)

In [41]:
data[ : 5, : ].shape

(5, 10)

In [42]:
data[ : , 1:2 ]

array([['ART_AND_DESIGN'],
       ['ART_AND_DESIGN'],
       ['ART_AND_DESIGN'],
       ...,
       ['FAMILY'],
       ['BOOKS_AND_REFERENCE'],
       ['LIFESTYLE']], dtype=object)

In [43]:
data[ : , 6:7 ]

array([['Free'],
       ['Free'],
       ['Free'],
       ...,
       ['Free'],
       ['Free'],
       ['Free']], dtype=object)